@viewport {
  width: device-width;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100%;
  min-height: 100vh;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #0572CE;
}

a:not([class]):hover {
  text-decoration: underline;
}

p {
  margin: 0 0 24px;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  margin: 0 0 16px;
  font-size: 48px;
}

h2 {
  margin: 0 0 12px;
  font-size: 32px;
}

h3 {
  margin: 0 0 8px;
  font-size: 24px;
}

h4 {
  margin-bottom: 4px;
  font-size: 20px;
}



.dm-Header {
  color: #fff;
  background-color: #0572CE;
  flex-grow: 0;
}

.dm-Header > .dm-Container {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 767px) {
  .dm-Header > .dm-Container {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.dm-Header-logoLink {
  display: inline-flex;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  align-self: center;
}

.dm-Header-logoIcon {
  display: block;
  margin-right: 4px;
  width: 128px;
  height: 48px;
  fill: currentColor;
  align-self: center;
}

.dm-Header-logoLabel {
  font-weight: 500;
  font-size: 14px;
  align-self: center;
}

@media screen and (min-width: 360px) {
  .dm-Header-logoIcon {
    margin-right: 8px;
  }

  .dm-Header-logoLabel {
    font-size: 16px;
  }
}

.dm-HeaderNav {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
  align-self: center;
}

.dm-HeaderNav li {
  display: inline-block;
  vertical-align: top;
}

.dm-HeaderNav-link {
  display: inline-block;
  margin-left: auto;
  padding: 8px;
  vertical-align: top;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  color: rgba(255,255,255,.9);
  border-radius: 4px;
  box-shadow: inset rgba(255,255,255,.25) 0 0 0 1px;
}

@media screen and (min-width: 360px) {
  .dm-HeaderNav-link {
    padding: 8px 12px;
  }
}

.dm-HeaderNav-link:hover {
  color: #fff;
  box-shadow: inset #fff 0 0 0 1px;
}

.dm-HeaderNav-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: top;
  font-size: 16px !important;
  line-height: 16px !important;
  fill: currentColor;
}

.dm-HeaderNav-label {
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .dm-HeaderNav-label {
    display: none;
  }
}



.dm-Body {
  padding-top: 32px;
  padding-bottom: 32px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.dm-Container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1024px;
}



.dm-Footer {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 12px;
  color: rgba(255,255,255,0.55);
  background-color: #282d31;
  flex-grow: 0;
}

.dm-Footer a {
  color: #fff;
}

.dm-Footer p {
  margin: 0;
}

.dm-Footer p:not(:first-child) {
  margin-top: 8px;
}



.dm-About {
  margin-bottom: 64px;
}



.dm-Intro {
  text-align: center;
}

.dm-Intro-icon {
  margin-top: -64px;
  margin-right: auto;
/*
  color: #fff;
  background-color: #0572CE;
  background-image: linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  box-shadow: rgba(0,0,0,.1) 0 8px 32px;
*/
  margin-bottom: 24px;
  margin-left: auto;
  padding: 32px;
  width: 128px;
  height: 128px;
  color: #0572CE;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: rgba(0,0,0,.1) 0 8px 32px;
}

@media screen and (max-width: 767px) {
  .dm-Intro-icon {
    margin-top: 0;
  }
}

.dm-Intro-icon svg {
  display: block;
  width: 64px;
  height: 64px;
  fill: currentcolor;
}

.dm-Intro h1 {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.dm-Intro p {
  margin: 0 0 24px;
  font-size: 18px;
  opacity: .65;
}

.dm-Intro p:last-child {
  margin-bottom: 0;
}



.dm-SearchBox {
  display: flex;
  margin-top: 24px;
  margin-bottom: 32px;
}

.dm-SearchBox-settings {
  margin-left: 16px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
}

.dm-SearchBox-wrap {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
}

.dm-SearchBox-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  font-size: 20px !important;
  line-height: 1;
  transform: translateY(-50%);
}

.dm-SearchBox-input {
  display: block;
  margin: 0;
  padding: 12px 12px 12px 44px;
  width: 100%;
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  color: #000;
  background-color: #fff;
  outline: none;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.dm-SearchBox-input:focus {
  border-color: #0572CE;
}

.dm-SearchBox-input::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media screen and (max-width: 479px) {
  .dm-SearchBox {
    flex-direction: column;
    width: 100%;
  }

  .dm-SearchBox-wrap {
    align-self: auto;
  }

  .dm-SearchBox-settings {
    margin-top: 8px;
    margin-left: 0;
    align-self: auto;
  }
}



.dm-Search {

}

.dm-Search-category {
  margin-bottom: 16px;
  padding: 16px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 8px;
}

.dm-Search-title {
  margin: 0 0 16px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 24px;
  opacity: .65;
}


.dm-Search-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.dm-Search-list li {
  display: inline-block;
  width: calc(100%/2);
}

@media screen and (min-width: 480px) {
  .dm-Search-list li {
    width: calc(100%/4);
  }
}

@media screen and (min-width: 768px) {
  .dm-Search-list li {
    width: calc(100%/6);
  }
}

@media screen and (min-width: 1024) {
  .dm-Search-list li {
    width: calc(100%/8);
  }
}



.dm-Search-result {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;
  background-image: linear-gradient(rgba(255,255,255,.1),rgba(255,255,255,0));
  outline: none;
  border-radius: 4px;
  /* transition: .1s ease; */
}

.dm-Search-icon {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  color: inherit;
  align-items: center;
  justify-content: center;
}

.dm-Search-icon .fa {
  font-size: 16px;
}

.force-fa-lg .dm-Search-icon .fa {
  font-size: 32px;
}

.dm-Search-info {
  padding: 8px 4px;
  text-align: center;
  font-size: 12px;
}

.dm-Search-class {
  opacity: .65;
  cursor: text;
  user-select: all;
}

.dm-Search-result:focus {
  box-shadow: rgba(0,0,0,.075) 0 4px 8px, inset #0572CE 0 0 0 1px;
}

.dm-Search-result:hover {
  color: #fff;
  background-color: #0572CE;
  box-shadow: rgba(0,0,0,.075) 0 4px 8px;
}

.dm-Search-result:focus:hover {
  box-shadow: rgba(0,0,0,.075) 0 4px 8px, inset #0572CE 0 0 0 1px, inset #fff 0 0 0 2px;
}

.dm-Search-result:hover .dm-Search-icon {
}

.dm-Search-result:hover .dm-Search-info {
  background-color: rgba(255,255,255,.25);
}

.dm-Search-result:hover .dm-Search-class {
  opacity: 1;
}

.dm-Search-result:active {
  box-shadow: inset rgba(0,0,0,.25) 0 2px 4px;
}



.dm-Icon-name {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.dm-Icon {
  display: flex;
  margin-bottom: 16px;
}

.dm-IconPreview {
  flex-grow: 1;
  flex-basis: 100%;
}

.dm-IconBuilder {
  margin-left: 24px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.3333%;;
}

@media screen and (max-width: 767px) {
  .dm-Icon {
    flex-direction: column;
  }

  .dm-IconBuilder {
    margin-top: 12px;
    margin-left: 0;
  }
}

.dm-IconPreview {
  display: flex;
  padding: 16px;
  min-height: 128px;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+CjxyZWN0IHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgZmlsbD0iI0ZGRiI+PC9yZWN0Pgo8cmVjdCB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNGOEY4RjgiPjwvcmVjdD4KPHJlY3QgeD0iMTAiIHk9IjEwIiB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9IiNGOEY4RjgiPjwvcmVjdD4KPC9zdmc+);
  background-position: 50%;
  background-size: 16px;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

.dm-Toggle {
  position: relative;
  display: block;
  margin: 0;
  width: 100px;
  height: 48px;
  background-color: #fff;
  outline: none;
  border-radius: 4px;
  box-shadow: inset rgba(0,0,0,.15) 0 0 0 1px;
  cursor: pointer;
  transition: .1s ease;
  -webkit-appearance: none;
  appearance: none;
}

.dm-Toggle:after {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 48px;
  height: 40px;
  content: "Small";
  text-align: center;
  font-weight: 700;
  font-size: 11px;
  line-height: 40px;
  color: rgba(0,0,0,.65);
  background: transparent;
  background-color: #f0f0f0;
  border-radius: 2px;
  box-shadow: inset rgba(0,0,0,.15) 0 0 0 1px;
  transition: .1s ease;
}

.dm-Toggle:checked {
  background-color: #0572CE;
}

.dm-Toggle:checked:after {
  left: 48px;
  content: 'Large';
  color: #0572CE;
  background-color: #fff;
  box-shadow: rgba(0,0,0,.15) 0 0 0 1px;
}



.dm-RadioPillSet {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
}

.dm-RadioPillSet-option {
  flex: 1;
}

.dm-RadioPillSet-option:not(:first-child) {
  border-left: 1px solid rgba(0,0,0,.15);
}

.dm-RadioPillSet-option:first-child input + label {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.dm-RadioPillSet-option:last-child input + label {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dm-RadioPillSet-option input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.dm-RadioPillSet-option input + label {
  display: block;
  padding: 8px 12px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
  cursor: pointer;
}

.dm-RadioPillSet-option input:checked + label {
  font-weight: 700;
  color: #f9f9f9;
  background-color: #0572CE;
}

.dm-RadioPillSet-option input:focus + label {
  box-shadow: inset #0572CE 0 0 0 1px, inset #fff 0 0 0 2px;
}

.dm-RadioPillSet--large .dm-RadioPillSet-option input + label {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 24px;
}







.dm-RadioSet {
  display: flex;
  flex-wrap: wrap;
}

.dm-RadioSet-option {
}

.dm-RadioSet-option input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}

.dm-RadioSet-option input + label {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  align-items: center;
}

.dm-RadioSet-icon {
  margin: 8px;
  align-self: center;
}

.dm-RadioSet-label {
  display: block;
  font-size: 12px;
  line-height: 16px;
  align-self: center;
}

.dm-RadioSet-option input:checked + label {
  background-color: #fff;
  box-shadow: inset #0572CE 0 0 0 1px;
}



.dm-Field {
  display: flex;
  margin-bottom: 12px;
}

.dm-Field:last-child {
  margin-bottom: 0;
}

.dm-FieldLabel {
  display: block;
  margin-right: 12px;
  width: 100px;
  text-align: right;
  /* margin-bottom: 2px; */
  font-size: 13px;
  color: rgba(0,0,0,.5);
  flex-shrink: 0;
  align-self: center;
}

@media screen and (max-width: 479px) {
  .dm-Field {
    flex-direction: column;
  }

  .dm-Field:last-child {
    margin-bottom: 0;
  }

  .dm-FieldLabel {
    margin-right: 0;
    margin-bottom: 4px;
    width: 100%;
    text-align: left;
  }
}

.dm-Field select {
  display: block;
  margin: 0;
  padding: 8px 32px 8px 8px;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0MDAiIGhlaWdodD0iMjAwIiB2aWV3Qm94PSItOTkuNSAwLjUgNDAwIDIwMCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtOTkuNSAwLjUgNDAwIDIwMCI+PHBhdGggZmlsbD0iIzQ0NCIgZD0iTTE1Ni4yNSA3My43YzAgMS42LS42MTIgMy4yLTEuODI1IDQuNDI1bC01NC40MjUgNTQuNDI1LTU0LjQyNS01NC40MjVjLTIuNDM4LTIuNDM4LTIuNDM4LTYuNCAwLTguODM3czYuNC0yLjQzOCA4LjgzNyAwbDQ1LjU4OCA0NS41NzQgNDUuNTc1LTQ1LjU3NWMyLjQzOC0yLjQzOCA2LjM5OS0yLjQzOCA4LjgzNyAwIDEuMjI2IDEuMjI2IDEuODM4IDIuODI1IDEuODM4IDQuNDEzeiIvPjwvc3ZnPg==);
  background-position: 100% 50%;
  background-size: 32px 16px;
  background-repeat: no-repeat;
  outline: none;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  -webkit-appearance: none;
  appearance: none;
}

.dm-Field select:focus {
  border-color: #0572CE;
}




.dm-IconOutput {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.dm-IconOutput > .dm-IconOutput-col {
  display: block;
  font-size: 12px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: flex-start;
}

.dm-IconOutput > .dm-IconOutput-col--html {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.dm-IconOutput > .dm-IconOutput-col--class {
}

.dm-IconOutput > .dm-IconOutput-col--download {
  align-self: flex-start;
  text-align: center;
  margin-top: 18px;
  flex-grow: 0;
}

.dm-IconOutput > .dm-IconOutput-col:not(:first-child) {
  margin-left: 16px;
}

.dm-Code {
  display: block;
  padding: 8px 12px;
  max-width: 100%;
  font-size: 12px;
  font-family: monospace;
  line-height: 16px;
  color: rgba(255,255,255,.75);
  background-color: #31373c;
  border-radius: 4px;
  cursor: text;
  -webkit-user-select: all;
  user-select: all;
}

@media screen and (max-width: 767px) {
  .dm-IconOutput {
    flex-direction: column;
    margin-top: 32px;
  }

  .dm-IconOutput > .dm-IconOutput-col {
    width: 100%;
    align-self: auto;
  }

  .dm-IconOutput > .dm-IconOutput-col:not(:first-child) {
    margin-top: 16px;
    margin-left: 0;
  }

  .dm-Code {
    width: 100%;
  }
}



.dm-Desc {
  font-size: 12px;
  color: rgba(0,0,0,.5);
}



.dm-Examples {
  margin-top: 48px;
}


.dm-Examples h2 {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 24px;
}



.dm-Previews {
  display: flex;
  margin-right: -8px;
  margin-left: -8px;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .dm-Previews .dm-Preview {
    width: 100%;
  }
}



.dm-Preview {
  display: flex;
  overflow: hidden;
  margin-right: 8px;
  margin-bottom: 16px;
  margin-left: 8px;
  padding: 16px;
  width: calc(50% - 16px);
  /* background-color: #fff; */
  background-color: #FDFDFD;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  /* box-shadow: inset rgba(0,0,0,.05) 0 8px 16px; */
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
}

.dm-Preview--noPad {
  padding: 0;
}



.pv-TreeNav {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.pv-TreeNav ul {
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
  color: #fff;
  background-color: #31373c;
}

.pv-TreeNav li {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.pv-TreeNav .is-active {
  background-color: #212528;
}

.pv-TreeNav .fa {
  margin: 8px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  font-size: 16px !important;
  line-height: 24px;
}




.pv-Alert {
  margin: 16px auto;
  padding: 16px;
  max-width: 760px;
  color: #000;
  background-color: #fff8f7;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
}

.pv-Alert-icon {
  padding: 16px;
  text-align: center;
}

.pv-Alert-icon .fa {
  width: 64px;
  height: 64px;
  vertical-align: top;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  font-size: 32px !important;
  line-height: 64px;
  color: #fff;
  background-color: #309FDB;
  border-radius: 100%;
}

.pv-Alert-icon .fa:after {
  right: 20px !important;
  bottom: 20px !important;
}

.pv-Alert-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
}

.pv-Alert-body {
  margin: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
}




.pv-ButtonSet {
  display: flex;
  flex-direction: column;
  margin: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.pv-ButtonSet .pv-Button {
  margin: 8px;
}

.pv-Button {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  vertical-align: top;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  line-height: 16px;
  color: #383838;
  background-color: #f8f8f8;
  outline: none;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.125) inset;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: normal;
}

.pv-Button:hover {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset, 0 2px 1px rgba(0,0,0,.075);
}

.pv-Button:focus {
  box-shadow: 0 0 0 1px #0572CE inset, 0 0 1px 1px rgba(5,114,206,.25);
}

.pv-Button:active {
  background-color: #dedede;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15) inset,0 2px 2px rgba(0,0,0,.1) inset, 0 2px 1px rgba(0,0,0,.075);
}

.pv-Button--primary {
  font-weight: bold;
  color: #fff;
  background-color: #0572CE;
}

.pv-Button--primary:hover {
  background-color: #0680e7;
}

.pv-Button--primary:active {
  background-color: #0464b5;
}

.pv-Button .fa {
  margin-right: 4px;
  font-size: 16px !important;
}




.pv-Card {
  margin: 16px auto;
  max-width: 100%;
  width: 320px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.075);
  border-radius: 2px;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
}

.pv-Card-icon {
  padding: 24px;
  text-align: center;
  color: #fff;
  background-color: #309FDB;
}

.pv-Card-icon .fa {
  width: 64px;
  height: 64px;
  vertical-align: top;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  font-size: 32px !important;
  line-height: 64px;
  background-color: rgba(0,0,0,.1);
  border-radius: 100%;
}

.pv-Card-icon .fa:after {
  right: 20px !important;
  bottom: 20px !important;
}

.pv-Card-title {
  padding: 24px 16px;
  text-align: center;
  font-size: 16px;
  color: #404040;
}

.pv-Card-title span {
  display: block;
  margin: 4px 0 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

.pv-Card-body {
  overflow: hidden;
  padding: 16px;
  height: calc(40px + 32px);
  text-overflow: ellipsis;
  font-size: 14px;
  line-height: 20px;
  border-top: 1px solid rgba(0,0,0,.075);
}



.pv-MediaList ul {
  margin: 16px;
  padding: 0;
  list-style: none;
  border: 1px solid #d0d0d0;
  box-shadow: 0 2px 4px -2px rgba(0,0,0,.075);
}

.pv-MediaList li {
  display: flex;
  margin: 0;
  padding: 16px;
}

.pv-MediaList .is-active {
  background-color: #fafafa;
}

.pv-MediaList .is-active .fa {
  background-color: #309FDB;
}

.pv-MediaList li:not(:last-child) {
  border-bottom: 1px solid #d0d0d0;
}

.pv-MediaList li .fa {
  margin-right: 16px;
  width: 32px;
  height: 32px;
  vertical-align: top;
  text-align: center;
  font-size: 16px !important;
  line-height: 32px;
  color: #fff;
  background-color: #999;
  border-radius: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
}

.pv-MediaList li div {
  text-align: left;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
  flex-grow: 1;
  align-self: center;
}

.pv-MediaList li strong {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #056abf;
}



.pv-HeroRegion {
  display: flex;
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 1px 0 rgba(0,0,0,.1);
  align-self: flex-start;
}

.pv-HeroRegion .fa {
  display: block;
  margin-right: 16px;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 32px !important;
  line-height: 64px;
  color: #fff;
  background-color: #309FDB;
  border-radius: 4px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  align-self: center;
}

.pv-HeroRegion div {
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  color: #717171;
  flex-grow: 1;
  align-self: center;
}

.pv-HeroRegion strong {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #3e3e3e;
}
